.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
public/build
public/hot
public/storage
backups
database/*.sqlite
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
tests
capture.mjs
